# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# Next.js
.next/
out/
.vercel/

# Environment files
.env
.env.*

# Build outputs
/dist/
/coverage/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
*.log.*
*.pid
*.pid.lock

# Editors
.vscode/
.idea/
